<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LenovoBacklightImproved.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LenovoBacklightImproved.Properties.Settings>
            <setting name="DllPath" serializeAs="String">
                <value>C:\ProgramData\Lenovo\Vantage\Addins\ThinkKeyboardAddin\1.0.0.18\Keyboard_Core.dll</value>
            </setting>
            <setting name="InactivityTimeout" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="BacklightLevel" serializeAs="String">
                <value>0</value>
            </setting>
        </LenovoBacklightImproved.Properties.Settings>
    </userSettings>
</configuration>